* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans MT', 'Gill Sans', Calibri, sans-serif;
}

.hero-title, .description,.description p, .description strong {
    font-family: "Times New Roman", Times, serif;
}


.hero {
    position: relative;
    min-height: 100vh;
    background: url('images/house.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
}

.hero-title {
    position: absolute;
    top: 100px;
    left: 40px;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    cursor: default;
    user-select: none;
}

.hero-center-text {
    text-align: center;
    max-width: 400px;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.7));
}

    .hero-center-text .hero-subtitle {
        font-size: 0.8rem;
        opacity: 0.8;
        margin-bottom: 10px;
        letter-spacing: 4px;
    }

    .hero-center-text h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
.hero-button {
    background: white;
    color: black;
    border: none;
    padding: 8px 16px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, color 0.3s ease; /* smooth transition */
}

    .hero-button:hover {
        background-color: black; 
        color: white; 
    }


.description {
    background: white;
    color: #555;
    padding: 60px 80px;
    font-size: 1.1rem;
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    font-size: 1.2rem; 
    line-height: 1.6;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-bottom: 1px solid #eee;
}

.menu-btn {
    position: absolute;
    left: 20px;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.footer {
    background: #f0e6db;
    padding: 110px 80px;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

    .footer h3 {
        margin-bottom: 80px;
    }

.footer-columns {
    display: flex;
    justify-content: space-between;
    max-width:900px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1rem;
    color: #333;
    font-size: 1.1rem;
}

    .footer-columns ul {
        list-style: none;
        padding: 0;
    }

        .footer-columns ul li {
            margin-bottom: 12px;
            cursor: pointer;
        }