.sidebar {
    position: fixed;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: #d6ccc2;
    padding: 40px;
    transition: 0.4s;
    z-index: 2000;
}

.close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-size: 22px;
}

.sidebar-links {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
}

.sidebar a {
    display: block;
    margin: 30px 0;
    text-decoration: none;
    color: #3e3e3e;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 1px;
    transition: 0.3s;
}

    .sidebar a:hover {
        color: white;
        transform: translateX(10px);
    }

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    z-index: 1500;
}

.sidebar.active {
    left: 0;
}

#overlay.active {
    display: block;
}* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans MT', 'Gill Sans', Calibri, sans-serif;
}

.hero-title, .description,.description p, .description strong {
    font-family: "Times New Roman", Times, serif;
}


.hero {
    position: relative;
    min-height: 100vh;
    background: url('images/house.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 120px; 
    color:white;
}

.hero-content {
    text-align: center;
}

.hero-title {
    position: absolute;
    top: 150px;
    left: 60px;
    font-size: 6rem;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: default;
    user-select: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8), 2px 2px 5px black;
}

.hero-center-text {
    text-align: center;
    max-width: 400px;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    filter: drop-shadow(0 0 3px rgba(0,0,0,0.7));
}

    .hero-center-text .hero-subtitle {
        font-size: 0.8rem;
        opacity: 0.8;
        margin-bottom: 10px;
        letter-spacing: 4px;
    }

    .hero-center-text h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }

.hero-button {
    background: white;
    color: black;
    padding: 10px 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-decoration: none; 
    display: inline-block;
    transition: 0.3s;
}

    .hero-button:hover {
        background: black;
        color: white;
    }


.description {
    background: white;
    color: #555;
    padding: 60px 80px;
    font-size: 1.1rem;
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    font-size: 1.2rem; 
    line-height: 1.6;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
    z-index: 3000; 
}

.menu-btn {
    position: absolute;
    left: 20px;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
}

.search-btn {
    position: absolute;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

    .search-btn img {
        width: 22px; 
        height: auto;
        display: block;
    }

.logo {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.footer {
    background: #f0e6db;
    padding: 110px 80px;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

    .footer h3 {
        margin-bottom: 80px;
    }

.footer-columns {
    display: flex;
    justify-content: space-between;
    max-width:900px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1rem;
    color: #333;
    font-size: 1.1rem;
}

    .footer-columns ul {
        list-style: none;
        padding: 0;
    }

        .footer-columns ul li {
            margin-bottom: 12px;
            cursor: pointer;
        }

body.about-bg {
    background: url('images/about-bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.discover-wrapper {
    padding-top: 120px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discover-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(233, 225, 214, 0.95);
    padding: 40px;
    margin: 40px auto;
    max-width: 1000px;
    backdrop-filter: blur(4px);
}

    .discover-card.reverse {
        flex-direction: row-reverse;
    }

.discover-image {
    position: relative;
    width: 300px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

    .discover-image img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.img1 {
    animation: fade1 6s infinite;
}

.img2 {
    animation: fade2 6s infinite;
}

@keyframes fade1 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.logo {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

    .logo:visited {
        color: black;
    }

    .logo:hover {
        color: black;
    }

    .logo:active {
        color: black;
    }

.discover-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

.small-title {
    letter-spacing: 4px;
    font-size: 12px;
    margin-bottom: 10px;
}

.discover-text h2 {
    font-size: 28px;
    margin-bottom: 20px;
    margin: 12px 0;
}

.discover-card {
    display: flex;
    align-items: center; 
    gap: 60px; 
    background: rgba(233, 225, 214, 0.95);
    padding: 50px 60px;
    margin: 40px auto;
    max-width: 1000px;
    backdrop-filter: blur(4px);
}

.discover-text p {
    line-height: 1.6;
    color: #444;
    max-width: 420px;
}

.contact-bg {
    background: #f0e6db;
    min-height: 100vh;
}
.contact-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    text-align: left; 

    padding: 100px 80px; 
}
    .contact-section h2 {
        letter-spacing: 6px;
        font-size: 20px;
        margin-bottom: 40px;
    }

.contact-info p {
    margin: 6px 0;
    font-size: 15px;
    letter-spacing: 1px;
}

.contact-info small {
    font-size: 12px;
    color: #555;
    display: block;
    max-width: 500px;

}
